#root {
  max-width: 1280px;
  margin: 0 auto;
  text-align: center;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 1rem;
  border-bottom: 1px solid lightgray;
}
